* {
	box-sizing: border-box;
}

body {
  margin: 0;
  background: #aabbfb;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}
nav {
	display: flex;
	background-color: #fbeaaa;
	justify-content: space-between;
	height: 50px;
}

.nav-links {
	display: flex;
	margin-left: 10px;
}

.nav-links a {
	text-decoration: none;
	color: #000000;
	padding: 15px;
	font-size: 18px;
	font-family: Helvetica;
	padding-top: 16px;
	transition: transform .2s;	
}

.nav-links a:hover {
	transform: scale(1.2);
}

.nav-contact {
	display: flex;
	margin-left: 10px;
}

.nav-contact a {
	text-decoration: none;
	color: #000000;
	padding: 15px;
	font-size: 18px;
	font-family: Helvetica;
	padding-top: 16px;
	transition: transform .2s;	
}

.nav-contact a:hover {
	transform: scale(1.2);
}

.collection-cont {
  display: grid;
  grid-template-columns: repeat(1,auto);
  justify-content: center;
}

.character_sheet {
  display: flex;
  background-color: #ffffff;
  border-radius: 5px;
  margin-bottom: 20px;
}






.contact-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	background-color: #fbeaaa;
}

.contact-links {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-right: 50px;
	margin-top: 12px;
}

.contact-links a {
	padding-left: 20px;
	padding-right: 20px;
}

footer {
	display: flex;
	justify-content: center;
}

.foot-cont {
	width: 80%;
}